* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.face {
  height: 250px;
  width: 250px;
  background-color: rgb(237, 127, 104);
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.eyebrow {
  width: 20px;
  height: 20px;
  position: absolute;
  border-top: 1px solid #000;
  border-radius: 50%;
  position: relative;
}
.eyebrow1 {
  position: absolute;
  top: 35px;
  left: 80px;
}
.eyebrow2 {
  position: absolute;
  top: 35px;
  left: 150px;
}
.eyes {
  position: relative;
}
.eye {
  height: 40px;
  width: 20px;
  border: 1px solid black;
}
.eye1 {
  position: absolute;
  border-radius: 50%;
  left: 80px;
  top: 50px;
  overflow: hidden;
  animation: eyewink 2s linear 1;
  animation-delay: 3s;
  transform-origin: bottom;
}
.eye2 {
  position: absolute;
  border-radius: 50%;
  left: 150px;
  top: 50px;
  overflow: hidden;
}
.eye1::before {
  content: "";
  height: 30px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 15px;
  left: 2px;
}
.eye2::before {
  content: "";
  height: 30px;
  width: 20px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  top: 15px;
  left: 2px;
}
.nose {
  height: 40px;
  width: 10px;
  border: 1px solid black;
  position: absolute;
  border-radius: 50%;
  top: 110px;
  left: 118px;
}
.mouth {
  height: 50px;
  width: 50px;
  border-bottom: 1px solid black;
  position: absolute;
  border-radius: 50%;
  top: 150px;
  left: 100px;
}
@keyframes move {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    transform: rotate(90deg);
    top: 0;
    left: calc(100% - 79%);
  }
  50% {
    transform: rotate(180deg);
    top: 0;
    left: calc(100% - 58%);
  }
  75% {
    transform: rotate(240deg);
    top: 0;
    left: calc(100% - 36%);
  }
  100% {
    transform: rotate(360deg);
    top: 0;
    left: calc(100% - 15%);
    right: 0;
  }
}

@keyframes eyewink {
  0%,
  85% {
    transform: scaleY(1);
  }
  90% {
    transform: scaleY(0.1);
  }
  100% {
    transform: scaleY(1);
  }
}
